<% if signed_in? %>

<% content_for :sidebar do %>
	<h3>User Information</h3>
	<div class="block">
  		<%= render 'shared/user_info' %>
  		<%= render 'shared/stats' %>
	</div>
<% end %>
<div>
    <h2>What's up?</h2>
    <%= render 'shared/micropost_form' %>
    <%= render 'shared/feed' %>
</div>

<% else %>

<div class="block" id="block-text">
	<div class="secondary-navigation">
    	<ul class="wat-cf">
        	<li class="active first"><a href="#block-text">Welcome</a></li>
        </ul>
    </div>
    <div class="content">
            <h2 class="title">Welcome to CSedu</h2>
            <div class="inner">
            <p class="first">At CSedu.com you will the answer to most of your question</p>
            <p>This website has been 
              	created by UTSA Computer Science Student. Main purpose of this website is to help students to learn 
    			and be able to find a great source of knowledge that will help then understand materials better.
			</p>
			<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
			</div>
	</div>
</div>

<% end %>
